/*!
 * Start Bootstrap - Freelancer v3.3.7+1 (http://startbootstrap.com/template-overviews/freelancer)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}
p {
  font-size: 20px;
}
p.small {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  color: #18BC9C;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: normal;
}


.carousel-sec-header p {
    font-size: 16px;
    font-weight: 100;
}


hr.star-light,
hr.star-primary {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}
hr.star-light:after,
hr.star-primary:after {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}
hr.star-light {
  border-color: white;
}
hr.star-light:after {
  background-color: #18BC9C;
  color: white;
}
hr.star-primary {
  border-color: #2C3E50;
}
hr.star-primary:after {
  background-color: white;
  color: #2C3E50;
}
.img-centered {
  margin: 0 auto;
}
header {
  text-align: center;
  background: #18BC9C;
  color: white;
}
header .container {
  padding-top: 100px;
  padding-bottom: 50px;
}
header img {
  display: block;
  margin: 0 auto 20px;
}
header .intro-text .name {
  display: block;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}
header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}
@media (min-width: 768px) {
  header .container {
    padding-top: 200px;
    padding-bottom: 100px;
  }
  header .intro-text .name {
    font-size: 4.75em;
  }
  header .intro-text .skills {
    font-size: 1.75em;
  }
}
.navbar-custom {
  background: #2a578f;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}
.navbar-custom a:focus {
  outline: none;
}
.navbar-custom .navbar-brand {
  color: white;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: white;
}
.navbar-custom .navbar-nav {
  letter-spacing: 1px;
}
.navbar-custom .navbar-nav li a {
  color: white;
}
.navbar-custom .navbar-nav li a:hover {
  color: #18BC9C;
  outline: none;
}
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
  color: white;
}
.navbar-custom .navbar-nav li.active a {
  color: white;
  background: transparent !important;
}
.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
  color: white;
  background: transparent !important;
}
.navbar-custom .navbar-toggle {
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  border-color: white;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #18BC9C;
  color: white;
  border-color: #18BC9C;
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom.affix {
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}
section {
    padding: 62px 0px 0px 0px;
        margin-bottom: -50px;
}


section h2 {
  margin: 0;
  font-size: 3em;
}
section.success {
  background: #18BC9C;
  color: white;
}
@media (max-width: 767px) {
  section {
    padding: 75px 0;
  }
  section.first {
    padding-top: 75px;
  }
}
#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .caption {
  background: rgba(24, 188, 156, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .caption:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 0;
}
#portfolio * {
  z-index: 2;
}
@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}
.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
  -moz-transition: top 0.3s ease,opacity 0.3s ease;
  -ms-transition: top 0.3s ease,opacity 0.3s ease;
  transition: top 0.3s ease,opacity 0.3s ease;
}
.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eeeeee;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: #18BC9C;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee;
}
footer {
  color: white;
}
footer h3 {
  margin-bottom: 30px;
}
footer .footer-above {
  padding-top: 50px;
  background-color: #2C3E50;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #233140;
  margin-top: 52px;
}

#banner img
{
  width: 100%;
}

.bttn-wrapr {
    padding: 41px 0;
}


.btn-outline {
  color: white;
  font-size: 20px;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #18BC9C;
  background: white;
  border: solid 2px white;
}
.btn-primary {
  color: white;
  background-color: #2C3E50;
  border-color: #2C3E50;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #1a242f;
  border-color: #161f29;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #2C3E50;
  border-color: #2C3E50;
}
.btn-primary .badge {
  color: #2C3E50;
  background-color: white;
}
.btn-success {
  color: white;
  background-color: #18BC9C;
  border-color: #18BC9C;
  font-weight: 700;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: white;
  background-color: #128f76;
  border-color: #11866f;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #18BC9C;
  border-color: #18BC9C;
}
.btn-success .badge {
  color: #18BC9C;
  background-color: white;
}
.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}
.btn:focus,
.btn:active,
.btn.active {
  outline: none;
}
.scroll-top {
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
  z-index: 1049;
}
.scroll-top .btn {
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  line-height: 28px;
}
.scroll-top .btn:focus {
  outline: none;
}
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin: 0;
  font-size: 3em;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content .item-details {
  margin: 30px 0;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #2C3E50;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #2C3E50;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}



@media (min-width: 768px)
{
.navbar-nav>li>a {
    padding-top: 8px;
    padding-bottom: 9px;
}
.navbar-custom {
    padding: 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
}
ul.nav.navbar-nav {
    padding: 5px;
}
}


.type-filter-item {
    text-align: center;
    padding: 6px 2px;
    
}

.type-filter-item .active
{
  border: 1px solid #56504e;
  border-radius: 6px;

}


.type-filter-item span {
    padding: 6px 29px;
    cursor: pointer;
}



li.page-scroll .active {
    background: none !IMPORTANT;
    border: 1px solid #000;
    border-radius: 13px;
}

.type-filter-wrapper {
    display: inline-block;
    padding: 0px 100px;

    height: auto;
    text-align: center;
    margin: 0 auto;
}

.navbar-custom .navbar-nav li a, a.navbar-brand {
    font-size: 14px !important;
    text-transform: capitalize;
    line-height: 33px;
}

.thumbnails li> .fff .caption { 
    background:#fff !important; 
    padding:10px
}

/* Page Header */
.page-header {
    background: #f9f9f9;
    margin: -30px -40px 40px;
    padding: 20px 40px;
    border-top: 4px solid #ccc;
    color: #999;
    text-transform: uppercase;
}
    
.page-header h3 {
    line-height: 0.88rem;
    color: #000;
}

ul.thumbnails { 
    margin-bottom: 0px;
}



/* Thumbnail Box */
.caption h4 {
    color: #444;
}

.caption p {  
    color: #999;
}



/* Carousel Control */
.control-box {
    text-align: right;
    width: 100%;
}
.carousel-control{
    background: #666;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    font-size: 34px;
    font-weight: 200;
    line-height: 18px;
    opacity: 0.5;
    padding: 4px 10px 0px;
    position: static;
    height: 30px;
    width: 15px;
}



/* Mobile Only */
@media (max-width: 767px) {
    .page-header, .control-box {
        text-align: center;
    } 
}
@media (max-width: 479px) {
    .caption {
        word-break: break-all;
    }
}



span.carousel-nav-left {
    position: absolute;
    top: 50%;
    left: 25px;
    border: 2px solid #777;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    background: #fff;
    z-index: 9999;
}


span.carousel-nav-right {
    position: absolute;
    top: 50%;
    right: 25px;
    border: 2px solid #777;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    background: #fff;
    z-index: 9999;
}


.carousel-sec-header {
    padding: 9px 54px;
}


ul.footer-items li {
    margin: 0px 3px;
}

.carousel.slide {
    margin-top: 30px;
}

.row.card-footer {
    padding: 10px;
}

span.right-arrw-foot {
    border: 1px solid #777;
    border-radius: 50%;
    height: 21px;
    text-align: center;
    width: 21px;
    display: block;
}


.thumbnail {
   
    background-color: transparent;
    border: none;
    padding:0px;
   
}

.footer-items {
    display: inline;
  
}

.carousel-sec-header.bg-red {
    background-color: #e84c3d;
    color: #fff;
}
.carousel-sec-header.bg-blue {
    background: #242c71;
    color: #fff;
}

.carousel-sec-header.bg-violet {
    background: #934988;
    color: #fff;
}

.carousel-sec-header.bg-yellow {
    background-color: #e2b343;
    color: #fff;
}

button.view-more {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 7px;
    padding: 8px 17px;
}
 .fff {
    background: transparent;
    border: 1px solid;
    border-radius: 11px;
    overflow: hidden;
}


.add-on .input-group-btn > .btn {
  border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* stop the glowing blue shadow */
.add-on .form-control:focus {
 box-shadow:none;
 -webkit-box-shadow:none; 
 border-color:#cccccc; 
}


ul.footer-items li {
    font-size: 12px;
}

.thumbnail
{
  margin-bottom: 0px;
}
.input-group.add-on {
    width: 253px;
}
.caption p {
    font-size: 12px;
    line-height: 12px;
    color: #000;
}
nav#mainNav {
    z-index: 99999;
}

.type-filter-item a {
    color: #777;
    padding: 4px 16px;
}

.type-filter-item a:hover {
    text-decoration: none;
}

li.page-scroll.active-menu {
    border: 1px solid #fff;
    border-radius: 13px;
}

.footer-menu li {
    line-height: 34px;
    color: #fff;
    text-transform: uppercase;
}

.bdr-blue .fff {
    border: 2px solid #242c71;
}
.bdr-blue .glyphicon-chevron-right, .bdr-blue .glyphicon-chevron-left
{
  color: #242c71;
  font-size: 15px;
}

.bdr-blue span.right-arrw-foot
{
  border: 2px solid #242c71;
  
}



.bdr-red .fff {
    border: 2px solid #e84c3d;
}
.bdr-red .glyphicon-chevron-right, .bdr-red .glyphicon-chevron-left
{
  color: #e84c3d;
  font-size: 15px;
}

.bdr-red span.right-arrw-foot
{
  border: 2px solid #e84c3d;
  
}



.bdr-violet .fff {
    border: 2px solid #934988;
}
.bdr-violet .glyphicon-chevron-right, .bdr-violet .glyphicon-chevron-left
{
  color: #934988;
  font-size: 15px;
}

.bdr-violet span.right-arrw-foot
{
  border: 2px solid #934988;
  
}



.bdr-yellow .fff {
    border: 2px solid #e2b343;
}
.bdr-yellow .glyphicon-chevron-right, .bdr-yellow .glyphicon-chevron-left
{
  color: #e2b343;
  font-size: 15px;
}

.bdr-yellow span.right-arrw-foot
{
  border: 2px solid #e2b343;
  
}


.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}
section#type-filter.affix {
    background: #fff;
    padding-top: 70px;
}
.footer-menu li a
{
  color: #fff;
}

.footer-menu li a:hover, .footer-menu li a:visited {
    background: transparent !important;
    text-decoration: underline;
}


.course-preview {
    width: 100%;
    padding: 40px 4px;
    margin:17px 0;
    height: auto;
    border-radius: 5px;
    background: #3f3f3f;
}
.panel-title a:hover, .panel-title a:active, .panel-title a:focus
{
  color: #fff;
  text-decoration: none;
}



.panel-heading.panel-bg-pink {
    background: #ff4a53;
    color: #fff;
}

.panel-heading.panel-bg-yellow {
    background: #f2bf3c;
    color: #fff;
}

.panel-heading.panel-bg-blue {
    background: #302076;
    color: #fff;
}
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right; 
    font-size: 19px;       /* adjust as needed */
    color: #fff;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}



.nav-tabs>li a {
    text-transform: uppercase;
    font-weight: bolder;
    color: #000;
}
.nav-tabs
{
  border-bottom: transparent;
}
.course-tabs .tab-content {
    border-top: 2px solid #dc274a;
    padding: 9px 13px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: 2px solid #f7941d;
    border-radius: 12px;
    border-bottom: 2px solid #f7941d;
}

.nav-tabs>li>a
{
  border-radius: 4px;
}

.course-tabs {
    margin: 17px 0;
    border: 2px solid #000;
    border-radius: 4px;
    background: #fff;
    
}

.heading-dash-banner {
    color: #fff;
    font-weight: 100;
    font-size: 18px;
}

.chart-id img {
    width: 160px;
}

.chart-right-detail span {
    padding: 6px 0;
    display: block;
}

.text-inner-board span {
    padding: 3px 0;
    display: block;
    font-size: 15px;
}
.chart-right-detail {
    margin-top: 21px;
    font-size: 18px;
    color: #fff;
    font-weight: 100;
}

.text-inner-board {
    margin-top: 20px;
}

.chart-inner-board img {
    width: 157px;
    padding: 17px;
}

.chart-inner-board {
    text-align: center;
}

.blocks-title-inner {
    color: #53a0f8;
    font-size: 17px;
    padding: 10px 10px;
}
.blocks-item-inner {
    background: #fff;
    height: 100%;
    border-radius: 11px;
}

.blocks-item-left {
    height: 250px;
    padding-right: 13px;
}

.blocks-item-right {
    height: 250px;
    padding-left: 13px;
}
.chart-id {
    padding: 28px;
}
.col-md-3.no-border-left {
    border-left: transparent !important;
}

.chart-right-detail button {
    background: #e73c95;
    border: none;
    border-radius: 5px;
    padding: 8px 14px;
    margin-top: 22px;
}


.row.title-after {
    padding: 10px 0;
    color: #4e81bc;
    text-decoration: underline;
}
.blocks-wrapper {
    padding: 10px 0px;
}
.text-inner-board button {
    background: #e73c95;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 14px;
    margin-top: 22px;
}

.progress-content-wrapper .col-md-3 {
    border-left: 2px solid #b9dafd;
    padding: 7px;
}

.thumb-text {
    color: #fff;
    font-size: 25px;
    margin-top: 10px;
    line-height: 19px;
}


.panel-heading .accordion-toggle:after {
 
    border: 2px solid #fff;
    padding: 2px 3px;
    border-radius: 50%;
    margin-top: -4px;
    width: 26px;
    height: 26px;
    line-height: 22px;
    font-weight: 100;
}

a.col-md-3:hover {
    text-decoration: none;
}
.side-menu-col
{
  background: #343a38;
  padding-right: 2px;
  min-height: 800px;
}

div#MainMenu {
    width: 100%;
    float: right;
  }


.adv-banner-inner {
    height: 100%;
    background: #f7f7f7;
    
    margin: 14px 31px 10px 0px;
    border-radius: 8px;
}



.adv-banner-inner img {
    width: 100%;
    border-radius: 8px;
    border: 2px solid #333;
}

  .profile-drop svg {
    top: 6px;
    position: relative;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover
{
  background: transparent;
}
.profile-drop ul li a {
    color: #000 !important;
}


.main-video-wrapper {
    padding: 10px 0px 10px 0px;
    display: block;
    margin: 0 auto;
}

.main-video-wrapper img {
    width: 100%;
    border-radius: 7px;
}


 div#MainMenu .list-group.panel {
    width: 100%;
}


a.list-group-item.list-group-item-success:hover {
    background: #12205d !important;
}
.list-group-item
{
  border: 1px solid #666759;
}
a.submenu.list-group-item {
    padding-left: 66px !important;
}
.panel
{
  border: 1px solid #000;
}

a.submenu.list-group-item:hover {
    background: #203ca7 !important;
}


a.list-group-item span {
    width: 40px;
    display: block;
    float: left;
    margin-right: 10px;
    text-align: center;
    margin-top: -4px;
}

#MainMenu a.list-group-item {
    background: #282828;
    width: 100%;
    color: #fff;
    padding: 18px 16px;
    font-size: 16px;
}

.thumb-text span {
    font-size: 13px;
}
button.view_session {
    background: #000;
}

.circle-thumb {
    
    border-radius: 50%;
    width: 170px;
    height: 170px;
    margin: 0 auto;
    padding: 22px 0;
}

.circle-thumb.orange
{
  background: #ff8a00;
}

.circle-thumb.red
{
  background: #ff0000;
}

.dashboard-banner-detail {
    background-image: url(img/dashboard-bg-block.jpg);
    padding: 21px;
    border-radius: 10px;
}


.sidebar-course-element {
    width: 100%;
    background: #fff;
    display: block;
    border-radius: 5px;
    border: 2px solid #959595;
    position: relative;
    text-align: center;
    margin: 10px 0;
}

.blocks-item-small span {
    color: #0668d7;
    font-size: 18px;
    text-decoration: underline;
    margin-left: 13px;
}

.blocks-item-small img {
    width: 113px;
    border: 2px solid #777;
    border-radius: 9px;
}

.rating-title {
    font-size: 15px;
    padding: 10px 0;
}

.sidebar-certfication-element {
    
    width: 100%;
    background: #fff;
    display: block;
    border-radius: 5px;
    position: relative;
    text-align: center;
}

.certification-modules
{
      margin-right: -27px !important;
    top: -60px !important;
    padding: 13px 31px !important;
}
.row.banner-big-bg {
    background-image: url(img/bg-big-detail.jpg);
    background-size: cover;
    padding: 34px 29%;
    background-position: center;
    display: block;
    text-align: center;
    margin-bottom: -52px;
}

.banner-big-section h4 {
    color: #fff;
    font-size: 29px;
    font-weight: bold;
}


.banner-big-section p {
    font-size: 14px;
    padding: 17px 0;
    color: #fff;
}


.banner-big-section button {
    background: #f7b504;
    padding: 11px 33px;
    border: none;
    font-size: 18px;
    border-radius: 7px;
    color: #000;

}

.sidebar-course-element button {
    background: #f7b504;
    padding: 7px 25px;
    margin: 15px 0;
    border: none;
    font-size: 15px;
    border-radius: 7px;
    color: #fff;
}
.sidebar-certfication-element button {
    background: #31f1d8;
    padding: 11px 33px;
    margin: 15px 0;
    border: none;
    font-size: 18px;
    border-radius: 7px;
    color: #000;

}

.nav-tabs>li>a:hover {
    background: transparent;
   
    border-radius: 15px;
}


.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #000;
    content: "\003e";
}


a, a:hover, a:focus, a:active, a.active
{
  color: #000;
}
.sidebar-certfication-element button.add-to-cart {
 background: #333;
 color: #fff;
}
ol.breadcrumb {
    background: transparent;
}
.course-tabs .nav-tabs
{
  padding:9px;
}
.course-preview img
{
  width: 100%;
}

.rating-wrapper img {
    width: 78px;
    padding: 5px 0;
}
.duration-sidebar {
    display: block;
    padding-top: 10px;
}

.duration-title {
    font-size: 15px;
    padding: 10px 0;
}


.duration-sidebar span {
    border: 1px solid #000;
    border-right: transparent;
    padding: 4px;
    border-radius: 4px;
    position: relative;
    color: #f7b504;
    font-size: 11px;
    top: -16px;
    margin-right: -17px;
}


.module-sidebar span {
    border: 1px solid #000;
    border-right: transparent;
    padding: 4px;
    border-radius: 4px;
    position: relative;
    color: #f7b504;
    font-size: 11px;
    top: -16px;
    margin-right: -10px;
}
.course-level img {
    width: 80px;
    padding-top: 12px;
}


.line-course-side {
    width: 86%;
    border-top: 2px solid #777;
    height: 1px;
    padding: 0px 21px;
    display: inline-block;
}

.progress-content-wrapper {

    text-align: center;
}

.item-active {
    background: #a9cffb;
   
}

span.progress-count {
    margin-left: 10px;
}

span.progress-state, .progress-count {
    top: -9px;
    position: relative;
}
.course-level-detail {
    font-size: 15px;
    color: #777;
}
.course-level-detail span {
      margin-left: 5px;
    color: #f7b504;
}

.banner-wrapper img {
    width: 100%;
    border-radius: 12px;
}

.banner-wrapper {
    padding: 10px 0;
}


section#course-detail-section {
    background: #f3f3f3;
}
.navbar-brand
{
      padding: 12px 15px;
}
li { list-style-type:none;}

::selection { background: #ff5e99; color: #FFFFFF; text-shadow: 0; }
::-moz-selection { background: #ff5e99; color: #FFFFFF; }
